.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Form {
  text-align: left;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
* {
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=text] {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

section{
  padding: 20px;
  margin: 20px;
  width: 70%;
  margin: auto;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-35 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

.col-65 {
  float: left;
  width: 65%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.productList{
  list-style-type:none;
  background-color:#f2f2f2;
}
.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 0;
}

@media screen and (max-width: 600px) {
  .col-35, .col-65, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}
